.portofolio-card-speaker-card {
  width: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.portofolio-card-image-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-medium);
  min-width: var(--dl-size-size-medium);
  align-self: center;
  max-height: var(--dl-size-size-medium);
  min-height: var(--dl-size-size-medium);
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
.portofolio-card-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-medium);
  bottom: 0px;
  height: var(--dl-size-size-medium);
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.portofolio-card-first-name {
  color: #F9EDD7;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}


@media(max-width: 991px) {
  .portofolio-card-root-class-name4 {
    width: auto;
  }
  .portofolio-card-root-class-name5 {
    width: auto;
  }
}
